*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main__container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #F8F3FF;

}
@media screen and (max-width:480px){
 .main__container{
     float: none;
     display: block;
     margin: 0 auto;
 }
    }
